@font-face {
    font-family: ibm-light;
    src: url(../font/IBM_Plex_Sans/static/IBMPlexSans-Light.ttf);
}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: ibm-light;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: whitesmoke;
}
#wrapper{
    min-width: 320px;
    margin: auto;

    background-color: red;

    display: grid;
    grid-template-rows: 48px 100vh 2fr 4fr 1fr 35vh;

}

nav.subpage {
    display: flex;
}


main,
.about-me,
.projects,
aside,
footer {
    padding-left: 2.5vh;
    padding-right: 2vh;
}

header,
footer {
    background-color: #8c8c8c;
}

header {
    display: flex;
    flex-direction: row-reverse;

}


nav {
    width: 48px;
    aspect-ratio: 1;
    background-color: #595959;
}

.nav2 {
    display: none;
}


main,
aside {
    background-color: #25619B;
}

main {
    color: #fff;
    padding-top: 35vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



h1 {
    max-width: 40rem;
    font-size: 31px;
    line-height: 40px;
    hyphens: manual;
}


.scroll-bottom,
.scroll-top {
    font-size: 16px;
    line-height: 24px;

    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 8px;
}

.scroll-bottom {
    padding-bottom: 24vh;
}

.scroll-top {
    padding-bottom: 4vh;
}


.about-me,
.projects {
    background-color: #fff;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding-top: 8vh;
    padding-right: 4vh;
    gap: 8vh;
}

h2 {
    color: #25619B;
    font-size: 32px;
    line-height: 40px;
}

p {
    max-width: 40rem;
    font-size: 24px;
    line-height: 32px;
    hyphens: manual;
}

.projects {
    padding-top: 8vh;
    padding-bottom: 16vh;

    display: flex;
    flex-direction: column;
    gap: 8vh;
}

.project-link {
    display: block;
}

.project-overview {
    display: flex;
    flex-direction: column;

    gap: 8vh;
}

.project-card {
    max-width: 56vh;
}

.thumbnail {
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 4/3;

    display: flex;
    justify-content: end;
    align-items: start;
}

.t2 {
    background-image: url(../pic/2-thumbnail.gif);
}

.t1 {
    background-image: url(../pic/1-thumbnail.gif);
}

.thumb-back {
    background-color: #D9D9D9;
}

h4 {
    font-size: 24px;
    line-height: 32px;
    color: #000;
    padding-bottom: 2vh;
}

.meta {
    background-color:#D9D9D9;
    color: #000;
    font-size: 16px;
    line-height: 24px;

    padding: 2vh;
    height: 14vh;
}



aside {
    color: #fff;
    font-size: 24px;
    line-height: 32px;

    padding-top: 8vh;
    padding-bottom: 4vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 8vh;
}



footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
    padding-top: 4vh;
    padding-right: 4vh;
    gap: 8vh;

    hyphens: manual;
}

h3 {
    color: #fff;

    max-width: 80vh;
    font-size: 32px;
    line-height: 40px;
    hyphens: manual;
}

.contact {
    color: #fff;
    font-size: 24px;
    line-height: 32px;

    display: flex;
    flex-direction: column;
}

.legal {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.legal-subpages,
.credits {
    font-size: 16px;
    line-height: 24px;
    color: #fff;

    display: flex;
    gap: 1vh;

}

a {
    color: #fff;
    text-decoration: none;
}

nav:hover {
    background-color: #000;
}

.project-link:hover {
    text-decoration: none;
    box-shadow: 10px 10px 0px #25619B;
}

 a:hover {
    text-decoration: underline;
    color: #fff;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

nav:active {
    background-color: #000;
}

.project-link:active {
    text-decoration: none;
    box-shadow: 10px 10px 0px #25619B;
}

a:active {
    text-decoration: underline;
    color: #fff;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    }

.legal-link {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

#email {
    user-select:all;
}

::-webkit-scrollbar{
    width: 4px;
}

::-webkit-scrollbar-track{
    background-color: #D9D9D9;
}

::-webkit-scrollbar-thumb{
    background-color: #8c8c8c;
}

