@media screen and (min-width: 768px){

    main,
    .about-me,
    .projects,
    aside,
    footer {
        padding-left: 4vh;
    }

    nav{
        display: none;
    }

    .nav2 {
        display: flex;
        flex-direction: row;
    }

    .menu2 {
        background-color: #595959;
        color: #fff;
        font-size: 24px;
        line-height: 30px;

        padding: 1vh 4vh;
    }

    .scroll-top,
    .scroll-bottom {
        padding-bottom: 16vh;
    }

    .project-overview {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 8vh;
        column-gap: 4vh;
    }

}